.table {
    margin: 25px;
    width: auto;
}

table,
tr {
    border: 1px solid lightgrey
}

.user-create {
    display: flex;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 0;
}

.user-create>button {
    display: block;
    margin-left: auto;
}

.user-form {
    border-radius: 5px;
    background-color: #e4e4e4;
}

.invalid-feedback {
    display: block !important;
}

.pagination-bar {
    width: 100%;
    display: flex;
    justify-content: right;
}

.comment {
    border: 1px solid #e4e4e4;
    background-color: #e4e4e4;
    border-radius: 5px;
    margin-bottom: 2px;
}

.comment h4,
.comment span,
h4,
span {
    display: inline;
}

.comment p,
.comment span,
p,
span {
    color: rgb(100, 100, 100);
}